<div class="row">
  <table class='table table-hover'>
    <thead class='thead-light'>
      <tr>
        <th>MAC Address</th>
        <th>Name</th>
        <th>Created</th>
        <th>Last Detected</th>
        <th>Actions</th>
      <tr>
    </thead>
    <% @network_devices.each do |network_device| %>
      <tr>
        <th><%= network_device.mac_address%></th>
        <th><%= network_device.name%></th>
        <th><%= network_device.created_at%></th>
        <th><%= network_device.detected_at%></th>
        <th class='btn-group'>
          <button type='button' class='btn btn-primary'>Track</button>
          <%= link_to 'Edit', edit_network_device_path(network_device), class: 'btn btn-success' %>
          <%= button_to 'Delete', network_device, method: :delete, class: 'btn btn-danger' %>
      <tr>
    <% end %>
  </table>
  <button id='clear_all_devices' class='btn btn-info'>Clear All Devices</button>
</div>

<script>
  $(document).ready(function() {
      $("#clear_all_devices").click(function() {
        fetch('/network_devices/destroy_all', { method: 'DELETE' })
        .then(res => { location.reload() })
      });
  });
</script>

