<div class="row">
  <table class='table table-hover'>
    <thead class='thead-light'>
      <tr>
        <th>Name</th>
        <th>Interface</th>
        <th>MAC</th>
        <th>IP</th>
        <th>Created</th>
        <th>Last Detected</th>
        <th>Actions</th>
      <tr>
    </thead>
    <% @network_devices.each do |network_device| %>
      <tr>
        <td><%= network_device.name%></td>
        <td><%= network_device.interface%></td>
        <td><%= network_device.mac_address%></td>
        <td><%= network_device.ip_address%></td>
        <td><%= network_device.created_at%></td>
        <td <%=(Time.now.utc - network_device.detected_at) < 1.minutes ? 'class=bg-danger text-dark' : ''%>><%= network_device.detected_at%></td>
        <td class='row'>
          <div class='float-left col-xs-3'>
            <button type='button' class='btn btn-warning'>RTS</button>
          </div>
          <div class='float-left col-xs-3'>
            <%= link_to edit_network_scan_path(network_device), class: 'btn btn-primary' do%>
              <i class="fa fa-rss"></i>
            <% end %>
          </div>
          <div class='float-left col-xs-3'>
            <%= link_to edit_network_device_path(network_device), class: 'btn btn-success' do%>
              <i class="fas fa-edit"></i>
            <% end %>
          </div>
          <div class='float-left col-xs-3'>
            <%= button_to network_device, method: :delete, class: 'btn btn-danger float-left' do%>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
        </td>
      <tr>
    <% end %>
  </table>
  <button id='clear_all_devices' class='btn btn-info'>Clear All Devices</button>
</div>

<script>
  $(document).ready(function() {
      $("#clear_all_devices").click(function() {
        fetch('/network_devices/destroy_all', { method: 'DELETE' })
        .then(res => { location.reload() })
      });
  });
</script>

